{% load static %}
{% block header %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Aron Cederlund">
        <link href="{% static "vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/fontawesome-free-6.2.1-web/css/all.min.css" %}" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/origami-mommy" rel="stylesheet">
        <link href="{% static "css/app.css" %}" rel="stylesheet">
    </head>
{% endblock %}
