{% extends "tasks/base_page.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row mx-2">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th scope="col" class="origa">Title</th>
                      <th scope="col" class="origa">Description</th>
                      <th scope="col" class="origa">Priority</th>
                      <th scope="col" class="origa">Category</th>
                      <th scope="col" class="origa">Created</th>
                      <th scope="col" class="origa">Finished</th>
                      <th scope="col" class="origa">Finished At</th>
                      <th scope="col" class="origa"></th>
                  </tr>
              </thead>        
              {% for object in object_list %}
              <tr class="cursor-pointer">
                  <td>{{ object.title }}</td>
                  <td>{{ object.description }}</td>
                  <td>{{ object.priority }}</td>
                  <td>{{ object.category.title }}</td>
                  <td>{{ object.created }}</td>
                  <td>{{ object.is_finished }}</td>
                  <td>{{ object.finished_at }}</td>
                  <td>
                    <a class="btn btn-sm btn-outline-secondary finish-button origa" data-finishurl="{% url "tasks:finish" object.id %}">{% if object.is_finished == True %}UnFinish{% else %}Finish{% endif %}</a>
                    <a class="btn btn-sm btn-outline-secondary edit-button origa" data-bs-toggle="modal" data-bs-target="#updateTaskModal" data-updateurl="{% url "tasks:update" object.id %}"">Edit</a>
                    <a class="btn btn-sm btn-outline-danger delete-button origa" data-bs-toggle="modal" data-bs-target="#deleteTaskConfirmModal" data-deleteurl="{% url "tasks:delete" object.id %}">X</a>
                  </td>
              </tr>
              {% empty %}
              <tr>No objects yet.</tr>
              {% endfor %}
          </table>
        </div>
    </div>
    <div id="createTaskModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title origa">Add Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% include "tasks/task_form.html" %}
            </div>
          </div>
        </div>
    </div>
    <div id="createCategoryModal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-sm mt-5">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title origa">Add Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include "tasks/task_form.html" with form=category_form %}
          </div>
        </div>
      </div>
  </div>
    <div id="updateTaskModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title origa">Update Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="updateTaskModalBody" class="modal-body">
            </div>
          </div>
        </div>
    </div>
    <div id="deleteTaskConfirmModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title origa">Delete Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="deleteTaskConfirmModalBody" class="modal-body">
          </div>
        </div>
      </div>
  </div>
      
{% endblock %}
